@import "tailwindcss";

.maplibregl-popup-content {
  background-color: #f9fafb !important;
  border-radius: 1rem !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4x rgba(0, 0, 0, 0.1) !important;
  border: 1px solid #d1d5db !important;
  padding: 0 !important;
  overflow: hidden;
}

.maplibregl-popup-close-button {
  font-size: 1rem !important;
  line-height: 1 !important;
  padding: 0.25rem 0.5rem !important;
  border: none;
  background: transparent;
  color: #364151 !important;
  transition: transform 0.15s ease;
}

.maplibregl-popup-close-button:hover {
  transform: scale(1.1);
  color: #ef4444 !important; /* red-500 */
}

.maplibregl-popup-tip {
  display: none;
}
